@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;

    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;

    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;

    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;

    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;

    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;

    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;

    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;

    --input: 240 5.9% 90%;

    --ring: 240 10% 3.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-mobile-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;

    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;

    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;

    --input: 240 3.7% 15.9%;

    --ring: 240 4.9% 83.9%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;

    --sidebar-background: 240 3.8% 8.9%;
    --sidebar-mobile-background: 240 3.8% 8.9%;

    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 240 5.9% 10%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 240 4.9% 83.9%;
  }
  .theme {
    --animate-shimmer-slide: shimmer-slide var(--speed) ease-in-out infinite
      alternate;
    --animate-spin-around: spin-around calc(var(--speed) * 2) infinite linear;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}

.background-test {
  background-color: #ffffff;
  opacity: 0.8;
  background-image: linear-gradient(
      30deg,
      #ebebeb 12%,
      transparent 12.5%,
      transparent 87%,
      #ebebeb 87.5%,
      #ebebeb
    ),
    linear-gradient(
      150deg,
      #ebebeb 12%,
      transparent 12.5%,
      transparent 87%,
      #ebebeb 87.5%,
      #ebebeb
    ),
    linear-gradient(
      30deg,
      #ebebeb 12%,
      transparent 12.5%,
      transparent 87%,
      #ebebeb 87.5%,
      #ebebeb
    ),
    linear-gradient(
      150deg,
      #ebebeb 12%,
      transparent 12.5%,
      transparent 87%,
      #ebebeb 87.5%,
      #ebebeb
    ),
    linear-gradient(
      60deg,
      #ebebeb77 25%,
      transparent 25.5%,
      transparent 75%,
      #ebebeb77 75%,
      #ebebeb77
    ),
    linear-gradient(
      60deg,
      #ebebeb77 25%,
      transparent 25.5%,
      transparent 75%,
      #ebebeb77 75%,
      #ebebeb77
    );
  background-size: 16px 28px;
  background-position:
    0 0,
    0 0,
    8px 14px,
    8px 14px,
    0 0,
    8px 14px;
}

/* .bg-shapes-pattern {
  background-image: url("/images/Shapes.png");
  background-repeat: repeat;
  background-size: auto;
} */
.bg-shapes-pattern {
  background-color: #ffffff;
  opacity: 1;
  background:
    radial-gradient(
      circle,
      transparent 20%,
      #ffffff 20%,
      #ffffff 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #ffffff 20%,
        #ffffff 80%,
        transparent 80%,
        transparent
      )
      12.5px 12.5px,
    linear-gradient(#e6e6e6 1px, transparent 1px) 0 -0.5px,
    linear-gradient(90deg, #e6e6e6 1px, #ffffff 1px) -0.5px 0;
  background-size:
    25px 25px,
    25px 25px,
    12.5px 12.5px,
    12.5px 12.5px;
}

/* .containertest {
  width: 100%;
  height: 100%;
  --s: 100px;
  --c1: #7024f9;
  --c2: #5c04e2;

  --_g: var(--c2) 4% 14%, var(--c1) 14% 24%, var(--c2) 22% 34%,
    var(--c1) 34% 44%, var(--c2) 44% 56%, var(--c1) 56% 66%, var(--c2) 66% 76%,
    var(--c1) 76% 86%, var(--c2) 86% 96%;
  background:
    radial-gradient(
      100% 100% at 100% 0,
      var(--c1) 4%,
      var(--_g),
      #0000 96%,
      #0000
    ),
    radial-gradient(
        100% 100% at 0 100%,
        #0000,
        #0000 4%,
        var(--_g),
        var(--c1) 96%
      )
      var(--c1);
  background-size: var(--s) var(--s);
} */

.testb {
  background-color: #731fc7;
  opacity: 1;
  background-image: linear-gradient(135deg, #772dc7 25%, transparent 25%),
    linear-gradient(225deg, #772dc7 25%, transparent 25%),
    linear-gradient(45deg, #772dc7 25%, transparent 25%),
    linear-gradient(315deg, #772dc7 25%, #731fc7 25%);
  background-position:
    10px 0,
    10px 0,
    0 0,
    0 0;
  background-size: 20px 20px;
  background-repeat: repeat;
}

.lines {
  background-color: #731fc7;
  opacity: 1;
  background-image: linear-gradient(
    to right,
    #772dc7,
    #772dc7 5px,
    #731fc7 5px,
    #731fc7
  );
  background-size: 10px 100%;
}

.bgpink {
  background-image: linear-gradient(
    to right top,
    rgba(248, 231, 241, 0.3),
    rgba(238, 198, 227, 0.3),
    rgba(244, 211, 244, 0.3),
    rgba(224, 187, 236, 0.3),
    rgba(212, 183, 241, 0.3),
    rgba(216, 191, 255, 0.3),
    rgba(194, 173, 247, 0.3),
    rgba(182, 168, 250, 0.3),
    rgba(176, 159, 252, 0.3),
    rgba(191, 182, 233, 0.3),
    rgba(163, 142, 254, 0.3),
    rgba(156, 133, 255, 0.3)
  );
}

.bgpinktwo {
  background-image: linear-gradient(
    to right top,
    rgba(248, 231, 241, 0.3),
    rgba(238, 198, 227, 0.3),
    rgba(244, 211, 244, 0.3),
    rgba(224, 187, 236, 0.3),
    rgba(212, 183, 241, 0.3),
    rgba(216, 191, 255, 0.3),
    rgba(194, 173, 247, 0.3),
    rgba(182, 168, 250, 0.3),
    rgba(176, 159, 252, 0.3),
    rgba(191, 182, 233, 0.3),
    rgba(163, 142, 254, 0.3),
    rgba(156, 133, 255, 0.3)
  );
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* @import "tailwindcss";

@theme inline {
  --animate-move: move 5s linear infinite;

  @keyframes move {
    0% {
      transform: translateX(-200px);
    }
    100% {
      transform: translateX(200px);
    }
  }
} */

/* @theme inline {
  @keyframes shimmer-slide {
  to {
    transform: translate(calc(100cqw - 100%), 0);
    }
  }
  @keyframes spin-around {
  0% {
    transform: translateZ(0) rotate(0);
    }
  15%, 35% {
    transform: translateZ(0) rotate(90deg);
    }
  65%, 85% {
    transform: translateZ(0) rotate(270deg);
    }
  100% {
    transform: translateZ(0) rotate(360deg);
    }
  }
} */
